# Ignored Node.js files:
node_modules
build
dist
package-lock.json

# Ignored test coverage files:
coverage
.nyc_output

# Ignored IDE-related files:
.idea
*.iml

# Ignored MacOS-related files:
.DS_Store
